<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A game to segment the brain">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <title>Medulina</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/android-desktop.png">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Medulina">
  <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@2.8.0-alpha.1/minified/introjs.min.css">
  <link rel="stylesheet" href="css/main_style.css">


  <style>

  .bg-blue {
    background-color: #313E50 !important;
  }

  .navbar-toggler-left {
    position: unset;
  }

  nav {
    height: 56px !important;
  }

.navbar-nav {
  background-color: #313E50 !important;
}

.collapsing {
  position: absolute;
  left: 0px;
  top: 56px;
}

.collapse.show {
  position: absolute;
  left: 0px;
  top: 56px;
}

.navbar-nav .nav-item .nav-link {

  font-size: 1.1em;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #87BCDE;
}

.centered {
  text-align: center;
}

.colorBold:disabled {
  background-color: #ff595e;
  border-color: #ff595e;
}


  </style>

</head>

<body oncontextmenu="return false;">

  <div class="main" id="main" v-cloak>

    <!--<nav>
      <div class="dropdown">
        <a class="" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar">
            <img v-bind:src="login.avatar" v-bind:alt="login.username" class="rounded-circle colorOutline" style="width:100%;">
          </div>
        </a>

        <div class="dropdown-menu colorNeutralBackground colorOutline" aria-labelledby="dropdownMenuLink">
          <h6 class="dropdown-header">{{login.username}}</h6>

          <a v-if="current_slice" class="dropdown-item" v-bind:href="'/slices.html?image_id=' + current_slice._id">Slice Stats</a>
          <a class="dropdown-item" v-bind:href="'/dashboard.html?user_id=' + login.id">Leaderboard</a>
          <a class="dropdown-item" href="#" onclick="login.logout()">Log Out</a>
        </div>
      </div>


      <div class="statusBar colorNeutralBackground">
        <h4>
              <a class="btn btn-outline-info btn-xs" v-on:click="startTour">
                <i class="fa fa-info" aria-hidden="true"></i>
              </a>
                <div v-if="loading" style="color:white; display: inline;">

                  <i class="fa fa-cog fa-spin fa-fw"></i>

                    <span class="sr-only">Loading...</span>
                </div>
                <div v-else style="display:inline">
                    <span v-if="status == 'Submit'">

                  {{instruction}}
                </span>
                    <span v-if="status == 'Next'">


                    <i v-if="appMode=='train'" class="fa fa-bullseye" aria-hidden="true" style="padding-right: 0.25em;"></i>{{score.dice | | formatNumber}}

                  <i v-if="appMode=='test'">
                    Congrats, that was a new one!
                  </i>
                </span>

                </div>
                </h4>
      </div>


      <div class="submitButton">


        <button class="btn btn-med btn-primary colorBold" style="position:fixed; right:0; top:0;" id="submit_button" v-on:click="runEval">
                    {{status}}
                </button>

      </div>

    </nav>-->

    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-blue justify-content-between flex-row">

      <a class="navbar-brand" href="http://www.medulina.com">
        <img class="navbar-brand" src="https://cdn.rawgit.com/Shotgunosine/medulina_icon/b26e8ab5/icon_white.png" width="25px">
      </a>

      <button class="navbar-toggler navbar-toggler-left hidden-lg-up"
              type="button" data-toggle="collapse"
              data-target="#navbarsExampleDefault"
              aria-controls="navbarsExampleDefault"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse w-100" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" v-bind:href="'/dashboard.html?user_id=' + login.id">Leaderboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"> Play {{instruction}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:href="'/slices.html?image_id=' + current_slice._id" v-if="current_slice"> Images </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-on:click="startTour" style="cursor: pointer;">Help</a>
          </li>
          <li class="nav-item dropdown">
           <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
             {{login.username}}
              <span class="caret"></span>
           </a>
           <ul class="dropdown-menu" role="menu">
             <li><a href="#" onclick="login.logout()">Logout</a></li>
           </ul>
          </li>
        </ul>

      </div>


      <div class="navbar-text pull-right">
        <a class="btn btn-med btn-primary colorBold navbar-btn pull-right" style="color:white !important; cursor: pointer;" id="submit_button" v-on:click="runEval">
          <span v-if="loading"><i class="fa fa-cog fa-spin fa-fw"></i></span><span v-else>{{status}}</span>
        </a>
      </div>

    </nav>

    <div class="img-container">
      <canvas id="myCanvas" resize>



        </div>

        <transition name="fade">
            <div v-if="show" class="menu">
                <div class="wrapper">
                    <div class="scrolls" v-if="!show_opt">
                        <!-- Brush size -->

                        <div class="imageDiv colorNeutralBackground colorOutline colorWhite" v-on:click="show_opt = 'Brush Size'" id="brushSize">
                            <span></span>
                            <i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i>


                        </div>
                        <!-- Brush color -->
                        <div class="imageDiv colorNeutralBackground colorOutline colorWhite" v-on:click="show_opt = 'Brush Color'" id="brushColor">
                            <span></span>
                            <i class="fa fa-tint fa-3x" aria-hidden="true"></i>


                        </div>
                        <!-- Brightness -->
                        <div class="imageDiv colorNeutralBackground colorOutline colorWhite" v-on:click="show_opt = 'Brightness'" id="brightness">
                            <span></span>
                            <i class="fa fa-sun-o fa-3x" aria-hidden="true"></i>


                        </div>
                        <!-- Contrast -->
                        <div class="imageDiv colorNeutralBackground colorOutline colorWhite" v-on:click="show_opt = 'Contrast'" id="contrast">
                            <span></span>
                            <i class="fa fa-adjust fa-3x" aria-hidden="true"></i>


                        </div>
                    </div>


                    <!-- WHEN YOU OPEN THE MENU  -->
                    <div v-if="show_opt" class="scrolls imageDiv showOption colorNeutralBackground colorOutline">

                        <div class="optTitle" style="display: block">
                            <p>{{show_opt}}: {{options[show_opt].val}}</p>
                        </div>

                        <div class="imageDivPart colorNeutralBackground colorOutline colorWhite" style="display: inline-block; position: relative; float: left; left: 0px;">

                            <i v-bind:class="options[show_opt].icon" aria-hidden="true"></i>
                        </div>

                        <div style="display: inline-block; width: calc(100% - 150px); margin-left: 0px;">
                            <input type="range" v-bind:min="options[show_opt].min" v-bind:max="options[show_opt].max" v-bind:step="options[show_opt].step" v-on:input="applySetting" v-model="options[show_opt].val">
                        </div>

                        <div style="display: inline-block; float: right; position: relative; bottom: 6px;" v-on:click="show_opt=null">
                            <button class="btn btn-outline-info">Back</button>
                        </div>

                    </div>


                </div>

            </div>

        </transition>

        <div class="bottomMenu colorNeutralBackground">
            <div class="colorNeutralBackground" style="text-align:center; padding-bottom: 2px;" id="toggleButton">
                <button class="btn btn-lg btn-outline-info left" v-on:click="hide" id="hideshow">
                    <i class="fa fa-eye" v-if="overlay" aria-hidden="true"></i>
                    <i class="fa fa-eye-slash" v-if="!overlay" aria-hidden="true"></i>
                </button>
                <button class="btn btn-lg btn-outline-info" v-on:click="show = !show" id="menuButton">
                    <i class="fa fa-chevron-down" v-if="show" aria-hidden="true"></i>
                    <i class="fa fa-chevron-up" v-if="!show" aria-hidden="true"></i>
                </button>
                <button class="btn btn-lg btn-outline-info right" v-on:click="undo" id="undoButton">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <!--<modal v-bind:content="login" id="loginModal"></modal>-->
        <modal v-bind:content="alert" id="alertModal"></modal>
        <modal v-bind:content="fill" id="fillModal" action="runFillEval"></modal>
        <consent v-bind:age="consent.age" v-bind:consent="consent.consent" v-bind:afterConsent="afterConsent"></consent>

        <div class="modal fade" id="tutorial_nice">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Take the tutorial</h5>
              </div>
              <div class="modal-body">
                <a class="btn btn-primary mx-auto d-block" href="http://medulina.com/meningioma">Click for Tutorial</a>
              </div>
              <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal"> I know how to play </button>

              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="login2">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Log In</h5>
              </div>
              <div class="modal-body">
                <form>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Choose a Nickname</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter nickname" v-model="login.username" v-on:change="save_to_storage('nickname', login.username)">
                    <small id="emailHelp" class="form-text text-muted">We will show your nickname on the leaderboard.</small>
                  </div>

                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" v-model="login.use_profile_pic" v-on:change="save_to_storage('profile_pic', login.use_profile_pic)">
                      Use my profile picture
                      <small id="emailHelp" class="form-text text-muted">We will show your profile pic on the leaderboard.</small>
                    </label>
                  </div>

                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" v-model="login.send_emails" v-on:change="save_to_storage('profile_pic', login.send_emails)">
                      Its ok to send me emails
                      <small id="emailHelp" class="form-text text-muted">We will send occasional emails about new games on Medulina.</small>
                    </label>
                  </div>

                  <p>Login with:</p>
                  <a class="btn btn-primary colorLightBlue" v-bind:href="login.url">
                    <img src="images/GitHub-Mark-Light-32px.png" style="width:20px; margin: 1.5px;">
                    GitHub
                  </a>

                </form>

              </div>
              <div class="modal-footer">

                Please log in to play Medulina

              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="loginModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Log In</h5>
              </div>
              <div class="modal-body">

                  <p style="text-align: center;">
                    <h4 style="text-align: center;">Welcome to Medulina!</h4>
                    Medulina is a game to train computers to read brain images. To begin, please log in:
                    <br>

                  </p>

                    <div class="row">

                      <div class="col-6 col-sm-6" style="text-align: center; border-right-style: solid; border-right-color: rgba(51,62,81,0.5); border-right-width: thin;">
                        <h5>New User</h5>
                        <p>Get started:</p>
                        <a class="btn btn-primary colorBold" v-on:click="showConsent" data-dismiss="modal" style="color:white;">
                          <img src="https://cdn.rawgit.com/Shotgunosine/medulina_icon/b26e8ab5/icon_white.png" style="width:20px;">
                          Register
                        </a>
                      </div>
                      <div class="col-6 col-sm-6" style="text-align: center;">
                        <h5>Returning User</h5>
                        <p>Login with:</p>
                        <a class="btn btn-primary colorLightBlue" v-bind:href="login.url">
                          <img src="images/GitHub-Mark-Light-32px.png" style="width:20px; margin: 1.5px;">
                          GitHub
                        </a>
                      </div>
                    </div>
                    <br>
                    <p style="text-align:center;">
                      If you want to try it out first:
                      <p style="text-align:center;">
                        <button data-dismiss="modal" class="btn btn-primary colorDarkBackground pull-center" v-on:click="anonymousLogin" style="color:white">
                          Anonymous Log In
                        </button>
                        <p style="text-align:center;"><small>You can try out the game and log in later</small></p>
                      </p>
                    </p>



              </div>
              <div class="modal-footer">

                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal"> I know how to play </button>-->
                <small> Please log in to play! </small>

              </div>
            </div>
          </div>
        </div>






        <div id="legend" style="z-index:99999; background:rgba(1,1,1,1); position: fixed; right:3px; top:55px; color:white; display: block; border-color: black; border-style: solid; border-radius: 10px;" v-if="status=='Next'">

            <div style="display:inline-flex;text-align:center;">
                <div id="falsePos" v-bind:class="{'missed': !view_feedback_foo.missed, 'missed view': view_feedback_foo.missed}" v-on:click="toggle('missed')"></div>
                <span style="line-height:50px;">Missed</span>
            </div>

            <br>
            <div style="display:inline-flex;">
                <div id="falsePos" v-bind:class="{'incorrect': !view_feedback_foo.incorrect, 'incorrect view': view_feedback_foo.incorrect}" v-on:click="toggle('incorrect')"></div>
                <span style="line-height:50px;">Incorrect</span>
            </div>

            <br>
            <div style="display:inline-flex;">
                <div id="falsePos" v-bind:class="{'correct': !view_feedback_foo.correct, 'correct view': view_feedback_foo.correct}" v-on:click="toggle('correct')"></div>
                <span style="line-height:50px;">Correct</span>
            </div>

        </div>

        <div v-if="use_context" id="legend_context" style="z-index:2; background:rgba(1,1,1,1); position: fixed; left:45%; top:45px; color:white; display: block; border-color: black; border-style: solid; border-radius: 10px; width:100px;">

            <img v-bind:src="context" width="100%">

        </div>

    </div>

<canvas class="fireworks" style="position:absolute;" resize>


</body>
<!--<script src="https://unpkg.com/vue"></script>-->
<script src="js/vendor/vue.min.js"></script>
<script src="js/config.js"></script>
<script src="js/vendor/store.everything.min.js"></script>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/paper.full.min.js"></script>
<script src="js/vendor/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="js/vendor/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<script src="js/login.js"></script>
<script src="js/vendor/anime.min.js"></script>
<script src="js/firework.js"></script>
<script src="js/api.js"></script>
<!--<script src="js/consent.js"></script>-->
<script src="js/app.js"></script>
<script src="js/ui.js"></script>



<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intro.js@2.8.0-alpha.1/minified/intro.min.js"></script>

<script src="js/tour.js"></script>
<script type="text/paperscript" canvas="myCanvas" src="js/main.js"></script>
<script src="js/vendor/qs.min.js"></script>


<script>

var qparams = new QS()
var params = qparams.getAll()

window.onload = function(){
  ui.startProgress()
  login.Login(function() {
    if(window.location.host=="tumor.medulina.com"){
      $("#tutorial_nice").modal()
    }
    else if (app.login.n_try <= 10){
      tour.startIntro()
    }
    var url = api.get_image_url()
    console.log('url is', url);

    if (!app.consent.consent){
      $("#consent_form").modal({
        backdrop: 'static',
        keyboard: false
      })
    }

    main.get_images(url, main.start);

  })
}

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108369695-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108369695-1');
</script>

</html>
